<%- model_class = Coupon -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<% if @coupons.size > 0 %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= model_class.human_attribute_name(:title) %></th>
        <th><%= model_class.human_attribute_name(:details) %></th>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @coupons.each do |coupon| %>
        <tr>
          <td><%= link_to coupon.title, 
                          tenant_coupon_path(coupon, tenant_id: @tenant.id), class: 'main-link' %></td>
          <td><%= coupon.details %></td>
          <td>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_tenant_coupon_path(coupon, tenant_id: @tenant.id), :class => 'btn btn-default btn-xs' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        tenant_coupon_path(coupon, tenant_id: @tenant.id),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", 
                        :default => 'Are you sure?')) },
                        :class => 'btn btn-xs btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="lead">You don't have any coupons</p>
<% end %>
<% if (@tenant.can_create_coupons?) %>
  <%= link_to 'New Coupon', new_tenant_coupon_path(tenant_id: @tenant.id),
            :class => 'btn btn-primary' %>
<% end %>            
